flask==3.1.1
requests==2.32.3
ollama==0.4.8
langchain-community==0.3.24
transformers==4.51.3
torch==2.7.0
flask-cors==6.0.0
langchain-core==0.3.60
langchain-ollama==0.3.2
sentence-transformers==4.1.0
flask-sqlalchemy==3.1.1
flask-bcrypt==1.0.1
flask-login==0.6.3
flask-wtf==1.2.2
boxsdk==3.14.0
chardet==5.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
faiss-cpu==1.11.0
psutil
email_validator
pypdf==5.5.0
sqlalchemy==2.0.21
wtforms==3.0.1
gunicorn==21.2.0
langchain==0.3.25
langchain-text-splitters==0.3.8
langsmith==0.3.42
beautifulsoup4
